---
import { getCollection } from 'astro:content';
const projectEntries = await getCollection('projects');

import ProjectCard from '../components/ProjectCard.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Josh Hartop</title>
	</head>
	<body>

		<section id="greeter">
			<div class="hero min-h-screen bg-base-200">
				<div class="hero-content text-center">
					<div class="max-w-md">
						<h2 class="text-4xl font-normal">Hello, I'm</h2>
						<h1 class="text-5xl font-bold">Josh Hartop</h1>
						<p class="py-6">I'm a game dev student looking to make games</p>
						<a href="#projects"><button class="btn btn-outline btn-sm">Projects</button></a>
					</div>
				</div>
			</div>
		</section>

		<section id="projects" class="mx-auto w-fit h-screen flex flex-col">
			<h2 class="text-4xl font-semibold text-center pt-20 pb-24">My Projects</h2>

			<div class="container mx-auto w-fit">
				<div class="flex gap-4 justify-center flex-wrap">
					{projectEntries.map(projectEntry => (
						<ProjectCard
							title={projectEntry.data.title}
							tags={projectEntry.data.tags}
							description={projectEntry.data.description}
							github_url={projectEntry.data.github_url}
							github_release_filenames={projectEntry.data.github_release_filenames}
							other_url={projectEntry.data.other_url}
						/>
					))}
				</div>
			</div>
		</section>

	</body>
</html>
